# ATP matches 2006

In [175]:
import numpy as np
import pandas as pd

In [176]:
df = pd.read_csv('atp_matches_2006.csv')
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2006-520,Roland Garros,Clay,128,G,20060529,1,103819,1.0,NaN,...,9.0,0.0,2.0,133.0,92.0,53.0,20.0,16.0,15.0,21.0
1,2006-520,Roland Garros,Clay,128,G,20060529,2,104268,NaN,LL,...,6.0,2.0,3.0,89.0,55.0,33.0,12.0,14.0,3.0,10.0
2,2006-520,Roland Garros,Clay,128,G,20060529,3,103018,NaN,NaN,...,0.0,8.0,3.0,88.0,61.0,41.0,12.0,14.0,8.0,12.0
3,2006-520,Roland Garros,Clay,128,G,20060529,4,103454,32.0,NaN,...,23.0,12.0,3.0,155.0,90.0,65.0,26.0,26.0,10.0,18.0
4,2006-520,Roland Garros,Clay,128,G,20060529,5,104607,20.0,NaN,...,6.0,4.0,2.0,82.0,50.0,31.0,15.0,13.0,7.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3252,2006-D083,Davis Cup G2 PO: EGY vs CYP,Clay,4,D,20060721,4,104789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3253,2006-D084,Davis Cup G2 PO: LAT vs RSA,Clay,4,D,20060721,1,104557,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3254,2006-D084,Davis Cup G2 PO: LAT vs RSA,Clay,4,D,20060721,2,105208,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3255,2006-D084,Davis Cup G2 PO: LAT vs RSA,Clay,4,D,20060721,3,104292,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3256,2006-D084,Davis Cup G2 PO: LAT vs RSA,Clay,4,D,20060721,4,104695,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
df['tourney_level'].value_counts()

A    1802
M     599
G     508
D     333
F      15
Name: tourney_level, dtype: int64

In [178]:
cuadro = df['draw_size'].value_counts()
cuadro

32     1410
128     508
48      376
4       333
64      315
96      190
56      110
8        15
Name: draw_size, dtype: int64

In [179]:
df = df.dropna(how='all')

In [180]:
media_ws = df['winner_seed'].mean()
media_ws

7.684325108853411

In [181]:
df['winner_seed'] = df['winner_seed'].fillna(media_ws)

In [182]:
df['winner_seed'].isnull().value_counts()

False    3257
Name: winner_seed, dtype: int64

## Filtrando solo los torneos Grand Slam

In [183]:
df['tourney_name'].value_counts()

Roland Garros                  127
US Open                        127
Australian Open                127
Wimbledon                      127
Indian Wells Masters            95
                              ...
Davis Cup G1 R1: VEN vs MEX      4
Davis Cup G1 R1: PER vs BRA      4
Davis Cup G1 R2: ECU vs BRA      3
Davis Cup WG PO: BRA vs SWE      3
Davis Cup G1 PO: UZB vs CHN      2
Name: tourney_name, Length: 152, dtype: int64

In [184]:
df_soloGS = df[df["tourney_name"].str.contains("Roland Garros|US Open|Australian Open|Wimbledon") == True]
df_soloGS

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2006-520,Roland Garros,Clay,128,G,20060529,1,103819,1.000000,NaN,...,9.0,0.0,2.0,133.0,92.0,53.0,20.0,16.0,15.0,21.0
1,2006-520,Roland Garros,Clay,128,G,20060529,2,104268,7.684325,LL,...,6.0,2.0,3.0,89.0,55.0,33.0,12.0,14.0,3.0,10.0
2,2006-520,Roland Garros,Clay,128,G,20060529,3,103018,7.684325,NaN,...,0.0,8.0,3.0,88.0,61.0,41.0,12.0,14.0,8.0,12.0
3,2006-520,Roland Garros,Clay,128,G,20060529,4,103454,32.000000,NaN,...,23.0,12.0,3.0,155.0,90.0,65.0,26.0,26.0,10.0,18.0
4,2006-520,Roland Garros,Clay,128,G,20060529,5,104607,20.000000,NaN,...,6.0,4.0,2.0,82.0,50.0,31.0,15.0,13.0,7.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,2006-560,US Open,Hard,128,G,20060828,123,104053,9.000000,NaN,...,4.0,10.0,3.0,79.0,39.0,30.0,21.0,15.0,0.0,4.0
2507,2006-560,US Open,Hard,128,G,20060828,124,104022,7.684325,NaN,...,11.0,1.0,1.0,123.0,78.0,52.0,22.0,19.0,5.0,9.0
2508,2006-560,US Open,Hard,128,G,20060828,125,103819,1.000000,NaN,...,3.0,2.0,2.0,85.0,60.0,31.0,15.0,14.0,2.0,8.0
2509,2006-560,US Open,Hard,128,G,20060828,126,104053,9.000000,NaN,...,3.0,6.0,6.0,132.0,89.0,61.0,15.0,19.0,5.0,10.0
2510,2006-560,US Open,Hard,128,G,20060828,127,103819,1.000000,NaN,...,8.0,7.0,1.0,122.0,80.0,53.0,16.0,18.0,10.0,16.0

In [185]:
df_soloGS = df_soloGS.drop('tourney_level', axis=1)

In [189]:
df_soloGS = df_soloGS.drop('draw_size', axis=1)

In [196]:
df_soloGS = df_soloGS.drop('winner_entry', axis=1)

In [201]:
df_soloGS = pd.get_dummies(df_soloGS, columns=['tourney_name','surface'])

,tourney_id,tourney_date,match_num,winner_id,winner_seed,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,...,l_SvGms,l_bpSaved,l_bpFaced,tourney_name_Australian Open,tourney_name_Roland Garros,tourney_name_US Open,tourney_name_Wimbledon,surface_Clay,surface_Grass,surface_Hard
0,2006-520,20060529,1,103819,1.000000,Roger Federer,R,185.0,SUI,24.804928,...,16.0,15.0,21.0,0,1,0,0,1,0,0
1,2006-520,20060529,2,104268,7.684325,Alejandro Falla,L,185.0,COL,22.537988,...,14.0,3.0,10.0,0,1,0,0,1,0,0
2,2006-520,20060529,3,103018,7.684325,Max Mirnyi,R,196.0,BLR,28.895277,...,14.0,8.0,12.0,0,1,0,0,1,0,0
3,2006-520,20060529,4,103454,32.000000,Nicolas Massu,R,183.0,CHI,26.633812,...,26.0,10.0,18.0,0,1,0,0,1,0,0
4,2006-520,20060529,5,104607,20.000000,Tomas Berdych,R,196.0,CZE,20.695414,...,13.0,7.0,11.0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,2006-560,20060828,123,104053,9.000000,Andy Roddick,R,188.0,USA,23.994524,...,15.0,0.0,4.0,0,0,1,0,0,0,1
2507,2006-560,20060828,124,104022,7.684325,Mikhail Youzhny,R,183.0,RUS,24.175222,...,19.0,5.0,9.0,0,0,1,0,0,0,1
2508,2006-560,20060828,125,103819,1.000000,Roger Federer,R,185.0,SUI,25.054073,...,14.0,2.0,8.0,0,0,1,0,0,0,1
2509,2006-560,20060828,126,104053,9.000000,Andy Roddick,R,188.0,USA,23.994524,...,19.0,5.0,10.0,0,0,1,0,0,0,1
2510,2006-560,20060828,127,103819,1.000000,Roger Federer,R,185.0,SUI,25.054073,...,18.0,10.0,16.0,0,0,1,0,0,0,1

In [204]:
df_soloGS = pd.get_dummies(df_soloGS, columns=['winner_hand'])
#ya esta hecho, el error figura porque lo quise ejecutar dos veces

KeyError: "None of [Index(['winner_hand'], dtype='object')] are in the [columns]"

In [206]:
df_soloGS = df_soloGS.drop('winner_ioc', axis=1)

In [207]:
df_soloGS

,tourney_id,tourney_date,match_num,winner_id,winner_seed,winner_name,winner_ht,winner_age,winner_rank,winner_rank_points,...,l_bpFaced,tourney_name_Australian Open,tourney_name_Roland Garros,tourney_name_US Open,tourney_name_Wimbledon,surface_Clay,surface_Grass,surface_Hard,winner_hand_L,winner_hand_R
0,2006-520,20060529,1,103819,1.000000,Roger Federer,185.0,24.804928,1.0,7010.0,...,21.0,0,1,0,0,1,0,0,0,1
1,2006-520,20060529,2,104268,7.684325,Alejandro Falla,185.0,22.537988,139.0,309.0,...,10.0,0,1,0,0,1,0,0,1,0
2,2006-520,20060529,3,103018,7.684325,Max Mirnyi,196.0,28.895277,49.0,785.0,...,12.0,0,1,0,0,1,0,0,0,1
3,2006-520,20060529,4,103454,32.000000,Nicolas Massu,183.0,26.633812,35.0,885.0,...,18.0,0,1,0,0,1,0,0,0,1
4,2006-520,20060529,5,104607,20.000000,Tomas Berdych,196.0,20.695414,20.0,1390.0,...,11.0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,2006-560,20060828,123,104053,9.000000,Andy Roddick,188.0,23.994524,10.0,1890.0,...,4.0,0,0,1,0,0,0,1,0,1
2507,2006-560,20060828,124,104022,7.684325,Mikhail Youzhny,183.0,24.175222,54.0,745.0,...,9.0,0,0,1,0,0,0,1,0,1
2508,2006-560,20060828,125,103819,1.000000,Roger Federer,185.0,25.054073,1.0,7295.0,...,8.0,0,0,1,0,0,0,1,0,1
2509,2006-560,20060828,126,104053,9.000000,Andy Roddick,188.0,23.994524,10.0,1890.0,...,10.0,0,0,1,0,0,0,1,0,1
2510,2006-560,20060828,127,103819,1.000000,Roger Federer,185.0,25.054073,1.0,7295.0,...,16.0,0,0,1,0,0,0,1,0,1

In [210]:
df_soloGS = df_soloGS.drop('match_num', axis=1)