In [35]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

# Primero creamos el inventario total

In [50]:
dict = {'Sandero':[15,15,4,1,0],
        'Clio':[4,22,0,10,13],
        'Kwid':[0,10,12,11,8],
        'Logan':[20,50,12,32,10],
        'Duster':[40,31,20,0,0],
        'Koleos':[10,15,0,10,12]}

df = pd.DataFrame(dict,
                 columns=['Sandero','Clio','Kwid','Logan','Duster','Koleos'],
                 index=['blanco','rojo','azul','negro','gris'])
df

        Sandero  Clio  Kwid  Logan  Duster  Koleos
blanco       15     4     0     20      40      10
rojo         15    22    10     50      31      15
azul          4     0    12     12      20       0
negro         1    10    11     32       0      10
gris          0    13     8     10       0      12

## Luego filtramos las cantidades por *modelo*

In [37]:
totales_por_modelo = df.sum(axis=0)
totales_por_modelo

Sandero     35
Clio        49
Kwid        41
Logan      124
Duster      91
Koleos      47
dtype: int64

## Luego filtramos las cantidades por *color*

In [38]:
totales_por_color = df.sum(axis=1)
totales_por_color

blanco     89
rojo      143
azul       48
negro      64
gris       43
dtype: int64

### La cantidad total del stock

In [39]:
total_stock = totales_por_modelo.sum()
total_stock

387

# A continuacion vemos lo que quedo luego de la reduccion de stock

### El nuevo stock nuevamente detallado por marca y color

In [48]:
df_reducido = df // 3
df_reducido

        Sandero  Clio  Kwid  Logan  Duster  Koleos
blanco        5     1     0      6      13       3
rojo          5     7     3     16      10       5
azul          1     0     4      4       6       0
negro         0     3     3     10       0       3
gris          0     4     2      3       0       4

In [53]:
total_por_modelo = df_reducido.sum(axis=0)
total_por_modelo

Sandero    11
Clio       15
Kwid       12
Logan      39
Duster     29
Koleos     15
dtype: int64

### Nueva cantidad en stock

In [60]:
nuevo_stock = total_por_modelo.sum()
nuevo_stock

121

# Incorporacion de nuevos Dusters

In [59]:
df_reducido.loc['gris','Duster'] = 25
df_reducido
#De esta forma quedaría el nuevo inventario con esta incorporación

        Sandero  Clio  Kwid  Logan  Duster  Koleos
blanco        5     1     0      6      13       3
rojo          5     7     3     16      10       5
azul          1     0     4      4       6       0
negro         0     3     3     10       0       3
gris          0     4     2      3      25       4

### Ultima cantidad de stock

In [61]:
stock_reciente = nuevo_stock + 25
stock_reciente

146