In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
objeto1 = pd.Series([1,3,-5,-7])
objeto1

0    1
1    3
2   -5
3   -7
dtype: int64

In [3]:
objeto1.index #inicia en la posicion 0, termina en la 4, y va de pasos de a 1

RangeIndex(start=0, stop=4, step=1)

#### Ahora creo mis propios indices, hay dos formas de hacerlo

In [40]:
objeto2 = pd.Series([4,7,-5,3], index= ['d','b','a','c']) #Este es el ejemplo del material

In [41]:
objeto2

d    4
b    7
a   -5
c    3
dtype: int64

In [23]:
objeto2 = pd.Series([4,7,-5,3])
objeto2.index = ['d','b','a','c']
objeto2

d    4
b    7
a   -5
c    3
dtype: int64

In [14]:
print(objeto2['b'])

7

In [16]:
print(objeto2[['b','c']]) #Como en numpy, asi indexo arrays de 1 dimension

b    7
c    3
dtype: int64

In [17]:
objeto2>0                 #Operaciones booleanas

d     True
b     True
a    False
c     True
dtype: bool

In [24]:
objeto2*3                 #Multiplicacion

d    12
b    21
a   -15
c     9
dtype: int64

## Serie a partir de diccionario de Python

In [25]:
dict = {'kilobyte': 1024, 'megabyte': 1048576, 'gigabyte': 1073741824}

In [27]:
objeto3 = pd.Series(dict)
objeto3

kilobyte          1024
megabyte       1048576
gigabyte    1073741824
dtype: int64

### Funcion isnull

In [31]:
objeto4 = pd.Series([19,24,33,None,29], index=['Ana','Juan','Ema','Teo','Luis'])
objeto4

Ana     19.0
Juan    24.0
Ema     33.0
Teo      NaN
Luis    29.0
dtype: float64

In [32]:
pd.isnull(objeto4)

Ana     False
Juan    False
Ema     False
Teo      True
Luis    False
dtype: bool

In [33]:
objeto2

d    4
b    7
a   -5
c    3
dtype: int64

In [34]:
objeto1

0    1
1    3
2   -5
3   -7
dtype: int64

In [35]:
objeto1+objeto2 #Los indices deben coincidir para que se pueda realizar operaciones con Series

0   NaN
1   NaN
2   NaN
3   NaN
a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [36]:
objeto2.index=[0,1,2,3]

In [37]:
objeto1+objeto2

0     5
1    10
2   -10
3    -4
dtype: int64

In [38]:
objeto4.index.name = 'nombre' #Le estoy diciendo a pandas que los elementos que se encuentran en el index 
                              #tendran el atributo de nombre

In [39]:
objeto4.name = 'edad' #mientras que los elementos que integran el objeto 4 en si, tendran atributo de edad